@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
#homeBody .index_top_slide {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150%;
  background-position: left !important;
  height: 1280px !important;
}

#homeBody .index_top_slide .index_top_slide_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.679);
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
  max-width: 80%;
  margin: auto !important;
  width: 100%;
  margin-bottom: 220px !important;
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: -40px;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
  font-size: clamp(11rem, 12vw, 12rem);
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  line-height: 180px;
  text-shadow: 0 11px 4px rgba(0, 0, 0, 0.123);
  padding-bottom: 50px !important;
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 span {
  color: #f3a032;
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
  font-family: "Poppins";
  font-weight: 400;
  font-size: clamp(27px, 37px, 37px);
  color: white;
  text-shadow: 0 11px 4px rgba(0, 0, 0, 0.123);
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 170px;
  text-decoration: none;
  text-shadow: 0 11px 4px rgba(0, 0, 0, 0.123);
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
  height: 40px;
  width: 4px;
  background-color: #f3a032;
  display: block;
}

#homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
  margin-bottom: 0 !important;
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  font-size: clamp(21px, 21px, 21px);
}

#homeBody #iTopS2 {
  background-position: 30% 65% !important;
}

#homeBody .types {
  padding-bottom: 120px !important;
  overflow: hidden;
}

#homeBody .types .types_top {
  height: 650px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

#homeBody .types .types_top .types_top_cnt {
  font-family: "Poppins";
}

#homeBody .types .types_top .types_top_cnt h2 {
  font-weight: 800;
  font-size: clamp(3rem, 4vw, 4rem);
}

#homeBody .types .types_top .types_top_cnt p {
  max-width: 1400px;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
  font-size: 21px;
}

#homeBody .types .types_top .types_top_cnt a {
  font-weight: 500;
  border: 2px solid #f3a032;
  padding: 10px !important;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

#homeBody .types .types_top .types_top_cnt a:hover {
  color: white;
  background-color: #f3a032;
}

#homeBody .types .types_main_box {
  max-width: 1700px;
  margin: auto !important;
}

#homeBody .types .types_main_box .types_main_row .types_main_side {
  height: 500px;
  position: relative;
  border: 2px solid white;
}

#homeBody .types .types_main_box .types_main_row .types_main_side .background_img {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#homeBody .types .types_main_box .types_main_row .types_main_side a {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.523);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
}

#homeBody .types .types_main_box .types_main_row .types_main_side a:hover {
  background-color: rgba(0, 0, 0, 0.679);
}

#homeBody .types .types_main_box .types_main_row .types_main_side a div {
  padding: 10px !important;
  padding-left: 20px !important;
}

#homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  font-size: clamp(2rem, 3vw, 3rem);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 0 !important;
}

#homeBody .about {
  overflow: hidden;
  padding-bottom: 120px !important;
}

#homeBody .about .about_main_box {
  max-width: 1700px;
  margin: auto !important;
}

#homeBody .about .about_main_box .about_main_row .about_main_side {
  height: 900px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt {
  width: 100%;
}

#homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 650px !important;
  border: 2px solid white;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt #aboutMainBG1 {
  top: -30px;
}

#homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt #aboutMainBG2 {
  top: 30px;
}

#homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
  max-width: 900px;
  margin: auto !important;
  margin-right: 0 !important;
  font-family: "Poppins";
}

#homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
  font-weight: 800;
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 0 !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
  max-width: 1400px;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
  font-size: 21px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
  font-weight: 500;
  border: 2px solid #f3a032;
  padding: 10px !important;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

#homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a:hover {
  color: white;
  background-color: #f3a032;
}

#homeBody .adopt {
  padding-bottom: 120px !important;
  overflow: hidden;
}

#homeBody .adopt .adopt_main_box {
  max-width: 1700px;
  margin: auto !important;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
  height: 700px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt {
  width: 100%;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
  max-width: 900px;
  margin: auto !important;
  margin-left: 0 !important;
  font-family: "Poppins";
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
  font-weight: 800;
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 0 !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
  max-width: 1400px;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
  font-size: 21px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
  font-weight: 500;
  border: 2px solid #f3a032;
  padding: 10px !important;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a:hover {
  color: white;
  background-color: #f3a032;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text .route_cookie_toggler {
  display: none;
}

#homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
  max-width: 90%;
  display: block;
  margin: auto !important;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.157));
          filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.157));
}

#homeBody .support {
  padding-bottom: 120px !important;
  overflow: hidden;
}

#homeBody .support .support_main_box {
  max-width: 1700px;
  margin: auto !important;
}

#homeBody .support .support_main_box .support_main_row .support_main_side {
  height: 400px;
  position: relative;
  border: 2px solid white;
}

#homeBody .support .support_main_box .support_main_row .support_main_side .support_background_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#homeBody .support .support_main_box .support_main_row .support_main_side a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.523);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
}

#homeBody .support .support_main_box .support_main_row .support_main_side a:hover {
  background-color: rgba(0, 0, 0, 0.679);
}

#homeBody .support .support_main_box .support_main_row .support_main_side a div {
  padding: 10px !important;
  padding-left: 20px !important;
}

#homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  font-size: clamp(2rem, 3vw, 3rem);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 0 !important;
}

@media all and (max-width: 1995px) {
  #homeBody .index_top_slide {
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    height: 900px !important;
    background-size: 300% !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    margin-bottom: 120px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: 120px;
    line-height: 120px;
    padding-bottom: 20px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 33px;
  }
  #homeBody #iTopS1 {
    background-position: 30% 50% !important;
  }
  #homeBody #iTopS2 {
    background-position: 30% 80% !important;
  }
  #homeBody #iTopS3 {
    background-position: 30% 65% !important;
  }
  #homeBody .types {
    padding-bottom: 40px !important;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 85%;
    margin: auto !important;
  }
  #homeBody .types .types_main_box {
    max-width: 85%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 450px;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 34px;
  }
  #homeBody .about {
    padding-bottom: 40px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 85%;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 85%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 500px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
  }
  #homeBody .support .support_main_box {
    max-width: 85%;
  }
}

@media all and (max-width: 991px) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    margin-bottom: 120px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 20px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 23px;
  }
  #homeBody .types {
    padding-bottom: 0 !important;
  }
  #homeBody .types .types_top {
    height: 100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 40px;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 600px;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .types .types_top .types_top_cnt a {
    font-size: 18px;
  }
  #homeBody .types .types_main_box {
    max-width: 100%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 350px;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 28px;
  }
  #homeBody .about {
    padding-bottom: 0 !important;
  }
  #homeBody .about .about_main_box {
    max-width: 100%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 275px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    height: 550px;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 40px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 600px;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 18px;
  }
  #homeBody .adopt {
    padding-bottom: 10px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 500px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 40px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    font-size: 18px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 18px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 80%;
  }
  #homeBody .support {
    padding-bottom: 10px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 100%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 300px;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

@media all and (max-width: 768px) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 120px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(36px, 36px, 36px);
    line-height: 40px;
    padding-bottom: 20px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 16px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 140px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 16px;
  }
  #homeBody .types {
    padding-bottom: 10px !important;
  }
  #homeBody .types .types_top {
    height: 100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 25px;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 85%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .types .types_top .types_top_cnt a {
    font-size: 16px;
  }
  #homeBody .types .types_main_box {
    max-width: 95%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 160px;
    width: 100%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div {
    padding: 10px !important;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 28px;
  }
  #homeBody .about {
    padding-bottom: 0 !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 215px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 100%;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 100% !important;
    margin: auto !important;
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 25px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 95%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt {
    padding-top: 30px !important;
    padding-bottom: 50px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 40px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 25px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 85%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 55%;
  }
  #homeBody .support {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 95%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 160px;
    width: 100%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 100px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(36px, 36px, 36px);
    line-height: 40px;
    padding-bottom: 0px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 br {
    display: none;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 16px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 140px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 16px;
  }
  #homeBody .types .types_top {
    height: 100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 25px;
  }
  #homeBody .types .types_top .types_top_cnt h2 br {
    display: none;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 95%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .types .types_top .types_top_cnt a {
    font-size: 16px;
  }
  #homeBody .about {
    padding-bottom: 10px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 215px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 440px;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 90%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 25px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 17px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptL {
    max-width: 60%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptR {
    max-width: 40%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 300px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 31px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 95%;
    font-size: 17px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 80%;
  }
  #homeBody .support {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 95%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 160px;
    width: 100%;
    max-width: 50%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 160px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(56px, 56px, 56px);
    line-height: 60px;
    padding-bottom: 10px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 21px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 180px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 21px;
  }
  #homeBody .types .types_top {
    height: 100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 35px;
  }
  #homeBody .types .types_top .types_top_cnt h2 br {
    display: block;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 75%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .types .types_top .types_top_cnt a {
    font-size: 18px;
  }
  #homeBody .types .types_main_box {
    max-width: 95%;
  }
  #homeBody .types .types_main_box .types_main_row:nth-child(1) .types_main_side {
    max-width: 33.3%;
  }
  #homeBody .types .types_main_box .types_main_row:nth-child(2) .types_main_side {
    max-width: 50%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 230px;
    width: 100%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div {
    padding: 10px !important;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 28px;
  }
  #homeBody .about {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 300px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 600px;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 100%;
    padding-right: 40px !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 35px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 br {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 18px;
  }
  #homeBody .adopt {
    padding-top: 50px !important;
    padding-bottom: 90px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptL {
    max-width: 60%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptR {
    max-width: 40%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 300px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 34px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 95%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 18px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 90%;
  }
  #homeBody .support {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 95%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 240px;
    width: 100%;
    max-width: 50%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 130px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(46px, 46px, 46px);
    line-height: 40px;
    padding-bottom: 10px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 br {
    display: none;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 18px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 140px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 18px;
  }
  #homeBody .types {
    padding-bottom: 30px !important;
  }
  #homeBody .types .types_top {
    height: 100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 31px;
  }
  #homeBody .types .types_top .types_top_cnt h2 br {
    display: none;
  }
  #homeBody .types .types_top .types_top_cnt p {
    max-width: 85%;
    font-size: 17px;
    margin: auto !important;
  }
  #homeBody .types .types_top .types_top_cnt a {
    font-size: 17px;
  }
  #homeBody .types .types_main_box {
    max-width: 90%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 190px;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div {
    padding: 10px !important;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 22px;
  }
  #homeBody .about {
    padding-bottom: 10px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 90%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 215px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 100%;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
    text-align: center;
    padding-top: 65px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 90%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 31px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptL {
    max-width: 60%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptR {
    max-width: 40%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 300px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 34px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 95%;
    font-size: 16px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 80%;
  }
  #homeBody .support {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 90%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 210px;
    width: 100%;
    max-width: 50%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 150px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(76px, 76px, 76px);
    line-height: 80px;
    padding-bottom: 10px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 br {
    display: block;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 23px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 180px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 23px;
  }
  #homeBody .about {
    padding-bottom: 90px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 300px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 600px;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 85% !important;
    text-align: center;
    padding-top: 0px !important;
    padding-right: 40px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 90%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 35px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 br {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 18px;
  }
  #homeBody .support {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 95%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 290px;
    width: 100%;
    max-width: 50%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 200px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(76px, 76px, 76px);
    line-height: 100px;
    padding-bottom: 10px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 br {
    display: none;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 28px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 210px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 28px;
  }
  #homeBody .types .types_top {
    height: 500px;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 37px;
  }
  #homeBody .types .types_top .types_top_cnt h2 br {
    display: none;
  }
  #homeBody .types .types_top .types_top_cnt p {
    font-size: 18px;
    max-width: 60%;
  }
  #homeBody .types .types_main_box {
    max-width: 95%;
  }
  #homeBody .types .types_main_box .types_main_row:nth-child(1) .types_main_side {
    max-width: 33.3%;
  }
  #homeBody .types .types_main_box .types_main_row:nth-child(2) .types_main_side {
    max-width: 50%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side {
    height: 270px;
    width: 100%;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div {
    padding: 10px !important;
  }
  #homeBody .types .types_main_box .types_main_row .types_main_side a div h2 {
    font-size: 28px;
  }
  #homeBody .about {
    padding-bottom: 35px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 260px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 540px;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 90% !important;
    text-align: center;
    margin: auto !important;
    padding-top: 20px !important;
    padding-right: 60px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 90%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 37px;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 br {
    display: none;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt {
    padding-top: 0px !important;
    padding-bottom: 90px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptL {
    max-width: 60%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptR {
    max-width: 40%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 300px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 41px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 85%;
    font-size: 18px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 16px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 70%;
  }
  #homeBody .support {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
  }
  #homeBody .support .support_main_box {
    max-width: 95%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side {
    height: 290px;
    width: 100%;
    max-width: 50%;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div {
    padding: 10px !important;
  }
  #homeBody .support .support_main_box .support_main_row .support_main_side a div h2 {
    font-size: 28px;
  }
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #homeBody .index_top_slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt {
    text-align: center;
    margin-bottom: 340px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 {
    font-size: clamp(76px, 76px, 76px);
    line-height: 100px;
    padding-bottom: 10px !important;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt h1 br {
    display: none;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt blockquote {
    font-size: 28px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a {
    margin: auto !important;
    max-width: 210px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a span {
    height: 30px;
    width: 3px;
  }
  #homeBody .index_top_slide .index_top_slide_overlay .index_top_slide_overlay_cnt div a p {
    font-size: 28px;
  }
  #homeBody .types .types_top {
    height: 600px;
  }
  #homeBody .types .types_top .types_top_cnt h2 {
    font-size: 51px !important;
  }
  #homeBody .types .types_top .types_top_cnt h2 br {
    display: block;
  }
  #homeBody .types .types_top .types_top_cnt p {
    font-size: 21px;
    max-width: 75%;
    margin: auto !important;
  }
  #homeBody .about {
    padding-bottom: 40px !important;
  }
  #homeBody .about .about_main_box {
    max-width: 95%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL {
    max-width: 30%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt {
    display: block !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutL .about_main_side_cnt .about_main_side_cnt_bg {
    height: 320px !important;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side {
    width: 100%;
    height: 700px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 80% !important;
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 0px !important;
  }
  #homeBody .about .about_main_box .about_main_row .about_main_side .about_main_side_cnt .about_main_side_cnt_bg {
    max-width: 100%;
    top: 0 !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR {
    max-width: 70%;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text {
    max-width: 95%;
    padding-right: 50px !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 {
    font-size: 51px !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text h2 br {
    display: block;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text p {
    max-width: 100%;
    font-size: 21px !important;
    margin: auto !important;
  }
  #homeBody .about .about_main_box .about_main_row #aboutR .about_main_side_cnt .about_main_side_cnt_text a {
    font-size: 21px !important;
  }
  #homeBody .adopt {
    padding-top: 20px !important;
    padding-bottom: 90px !important;
  }
  #homeBody .adopt .adopt_main_box {
    max-width: 100%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptL {
    max-width: 60%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row #adoptR {
    max-width: 40%;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side {
    height: 350px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text {
    max-width: 90%;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text h2 {
    font-size: 54px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text p {
    max-width: 85%;
    font-size: 21px;
    margin: auto !important;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt .adopt_main_side_cnt_text a {
    font-size: 21px;
  }
  #homeBody .adopt .adopt_main_box .adopt_main_row .adopt_main_side .adopt_main_side_cnt img {
    max-width: 70%;
  }
}
/*# sourceMappingURL=Home.module.css.map */