@import "../../styles/global/mixins/mixins.scss";
@import "../../styles/global/fonts/fonts.scss";

//! Non Responsive

//? Navigation
#navigation {
  z-index: 600;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 0.3s ease-in-out;

  .nav_main_box {
    max-width: 80%;
    @include qC;

    .nav_main_row {
      #navL {
        justify-content: flex-start;
      }

      #navR {
        justify-content: flex-end;
      }

      .nav_main_side {
        height: 180px;
        @include tLC;

        #navLogo {
          a {
            font-family: $P;
            text-decoration: none;
            color: white;

            h1 {
              font-size: clamp(3rem, 4vw, 4rem);
              font-weight: $PEB;
            }
          }
        }

        .nav_main_side_cnt {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 300px;

          .searchTogglerBtn {
            padding: 10px !important;
            border: none !important;
            background-color: #f3a032;
            @include tLC;
            color: white;
            font-size: 23px;
            border-radius: 50%;
            margin-right: 20px !important;

            &:hover {
              background-color: #d68f32;
            }
          }

          .menuTogglerBtn {
            padding: 10px !important;
            border: none !important;
            background-color: transparent;
            display: block;

            &:hover {
              span {
                &:nth-child(odd) {
                  width: 50%;
                }

                &:nth-child(even) {
                  background-color: #f3a032;
                }
              }
            }

            span {
              width: 50px;
              height: 5px;
              background-color: white;
              border-radius: 5px;
              display: block;
              @include qC;

              &:nth-child(even) {
                margin-top: 10px !important;
                margin-bottom: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}

//? Search
#search {
  .search_click_blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 800;
  }

  .search_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 810;
    background-color: rgba(0, 0, 0, 0.7);
    @include tLC;

    .search_overlay_cnt {
      width: 100%;
      max-width: 900px;

      .search_overlay_cnt_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px !important;

        h3 {
          font-family: $P;
          font-weight: $PB;
          color: white;
        }

        button {
          background-color: transparent;
          color: white;
          font-family: $P;
          font-weight: $PM;
          font-size: 23px;
          border: none !important;
        }
      }

      .search_overlay_cnt_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;

        input {
          outline: none !important;
          border: none !important;
          width: 100%;
          padding-left: 10px !important;
          font-family: $P;
          font-weight: $PM;
          font-size: 23px;
        }

        button {
          padding: 15px !important;
          border: none !important;
          background-color: #f3a032;
          color: white;
          @include tLC;
          font-size: 23px;
        }
      }

      ul {
        min-height: 250px;
        max-height: 250px;
        width: 100%;
        background-color: white;
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        overflow-y: auto;
        white-space: nowrap;
        font-family: $P;

        li {
          a {
            font-weight: $PB;
            display: flex;
            align-items: center;
            padding-left: 10px !important;
            text-decoration: none;
            height: 50px;
            color: rgb(31, 30, 30);

            &:hover {
              background-color: rgba(31, 30, 30, 0.116);
            }
          }
        }
      }
    }
  }
}

//? Menu
.menu_click_blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 960;
}

.menu_darken {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 965;
  background-color: rgba(0, 0, 0, 0.801);
  cursor: pointer;
}

.menu_main {
  max-width: 600px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 970;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;

  .menu_main_cnt {
    .menu_main_cnt_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px !important;

      h2 {
        font-family: $P;
        font-weight: $PEB;
        font-size: 30px;
        opacity: 0.7;
        margin-bottom: 0 !important;
      }

      button {
        background-color: transparent;
        color: black;
        font-family: $P;
        font-weight: $PB;
        font-size: 20px;
        border: none !important;
        outline: none !important;
      }
    }

    .menu_main_cnt_body {
      label {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-family: $P;
        font-weight: $PB;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          color: rgb(65, 65, 65);
        }

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
        }
      }

      ul {
        font-family: $P;
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 0;
        overflow: hidden;
        white-space: nowrap;
        background-color: ghostwhite;

        li {
          a {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 20px !important;
            font-weight: $PM;
            color: black;
            text-decoration: none;

            &:hover {
              background-color: rgba(211, 211, 211, 0.486);
            }
          }
        }
      }
    }
  }
}

//! Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  //? Navigation
  #navigation {
    .nav_main_box {
      padding-bottom: 20px !important;
      .nav_main_row {
        #navL {
          display: none !important;
        }
        .nav_main_side {
          width: 100%;
          height: 100%;
          max-width: 100%;
          padding-top: 20px !important;
          justify-content: center !important;
        }
      }
    }
  }

  //? Search
  #search {
    .search_overlay_cnt {
      max-width: 85% !important;
    }
  }

  //? Menu
  .menu_main {
    .menu_main_cnt {
      .menu_main_cnt_top {
        h2 {
          font-size: 25px;
        }

        button {
          font-size: 20px;
        }
      }

      .menu_main_cnt_body {
        label {
          font-size: 25px;
        }

        ul {
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

@media all and (max-width: 768px) {
  //? Search
  #search {
    .search_overlay_cnt {
      max-width: 95%;

      .search_overlay_cnt_top {
        justify-content: center !important;
        h3 {
          display: none;
        }
      }

      ul {
        min-height: 200px !important;
        max-height: 200px !important;
      }
    }
  }

  //? Menu
  .menu_main {
    .menu_main_cnt {
      .menu_main_cnt_top {
        h2 {
          font-size: 18px;
        }

        button {
          font-size: 16px;
        }
      }

      .menu_main_cnt_body {
        label {
          font-size: 23px;
        }

        ul {
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  //? Search
  #search {
    .search_overlay_cnt {
      ul {
        min-height: 150px !important;
        max-height: 150px !important;
      }
    }
  }

  //? Menu
  .menu_main {
    .menu_main_cnt {
      .menu_main_cnt_top {
        h2 {
          font-size: 25px;
        }

        button {
          font-size: 23px;
        }
      }

      .menu_main_cnt_body {
        label {
          font-size: 27px;
        }

        ul {
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  //? Search
  .search_overlay_cnt {
    max-width: 20px !important;
    .search_overlay_cnt_top {
      justify-content: center !important;
      h3 {
        display: none;
      }
    }

    ul {
      min-height: 200px !important;
      max-height: 200px !important;
    }
  }

  //? Menu
  .menu_main {
    .menu_main_cnt {
      .menu_main_cnt_top {
        h2 {
          font-size: 25px;
        }

        button {
          font-size: 23px;
        }
      }

      .menu_main_cnt_body {
        label {
          font-size: 27px;
        }

        ul {
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
